.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: rgb(20, 20, 138);
  transition: 0.3s;
}

.btn-spl:hover {
  background-color: #e93574;
  transition: 0.3s;
}
