<app-navbar></app-navbar>
<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary"> Carros </mat-toolbar>
    <div *ngIf="carros$ | async as cliente; else loading">
      <mat-table [dataSource]="carros$" class="mat-elevation-z8 column-flex">
        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="proprietario">
          <mat-header-cell *matHeaderCellDef>Proprietário</mat-header-cell>
          <mat-cell *matCellDef="let carro">{{ carro.cliente.nome }}</mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="marca">
          <mat-header-cell *matHeaderCellDef>Marca</mat-header-cell>
          <mat-cell *matCellDef="let carro">{{ carro.marca }}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="modelo">
          <mat-header-cell *matHeaderCellDef>Modelo</mat-header-cell>
          <mat-cell *matCellDef="let carro">{{ carro.modelo }}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="chassi">
          <mat-header-cell *matHeaderCellDef>Chassi</mat-header-cell>
          <mat-cell *matCellDef="let carro">{{ carro.chassi }}</mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="ano">
          <mat-header-cell *matHeaderCellDef>Ano</mat-header-cell>
          <mat-cell *matCellDef="let carro">{{ carro.ano }}</mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="cor">
          <mat-header-cell *matHeaderCellDef>Cor</mat-header-cell>
          <mat-cell *matCellDef="let carro">{{ carro.cor }}</mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="placa">
          <mat-header-cell *matHeaderCellDef>Placa</mat-header-cell>
          <mat-cell *matCellDef="let carro">{{ carro.placa }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <mat-header-cell *matHeaderCellDef class="action-column">
            Ações
          </mat-header-cell>
          <mat-cell *matCellDef="let carro" class="action-column">
            <button
              mat-mini-fab
              color="primary"
              aria-label="Editar um carro"
              (click)="onEdit(carro)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="primary"
              aria-label="Adicionar um termo de quitação"
              (click)="onCreateTermoQuitacao(carro)"
            >
              <mat-icon>note_add</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="accent"
              aria-label="remover um carro"
              (click)="onDelete(carro)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>

    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
