<div id="container">
  <div id="identificador">
    <div id="nome"><b>Termo de quitação de reparos</b></div>
    <img class="imagem_logo" src="../../../assets/logo.png" alt="" />
  </div>

  <div id="identificador2">
    <div id="info_cliente">
      <div id="titulo">Dados do cliente</div>
      <div id="conteudoCard">
        <div><b>Nome</b>: Lucas Lopes Frazão</div>
        <div><b>CPF</b>: 111.111.111-11</div>
        <div><b>RG</b>: 22.369.840-4 SSP DF</div>
      </div>
    </div>
    <div id="info_cliente">
      <div id="titulo">Dados do veículo</div>
      <div id="conteudoCard">
        <div><b>Marca</b>: Ford</div>
        <div><b>Modelo</b>: Royale Ghia 2.0i 4p / 2.0i / 2.0 </div>
        <div><b>Cor</b>: Branco</div>
        <div><b>Ano</b>: 2009</div>
        <div><b>Placa</b>: BSV-5792</div>
        <div><b>Chassi</b>: 304 36ysgV NA A08630</div>
      </div>
    </div>
  </div>

  <div id="identificador2">
    <div id="info_cliente">
      <div id="titulo">Dados do termo de quitação</div>
      <div id="conteudoCard">
        <div><b>Seguradora</b>: AUTOGLASS</div>
        <div><b>Sinistro</b>: 13245678</div>
        <div><b>Apólice</b>: 45645213</div>
        <div><b>Orçamento</b>: 456456489</div>
        <div><b>Data</b>: 06/01/2023</div>
        <div><b>Local</b>: Planaltina / GO</div>
      </div>
    </div>
    <div id="info_cliente">
      <div id="titulo">Dados da oficina</div>
      <div id="conteudoCard">
        <div><b>Oficina</b>: Dária Alves Frazão</div>
        <div><b>CNPJ</b>: 12.406.558/0001-50</div>
        <div><b>Fantásia</b>: Ronaldo Lanternagem e Pintura</div>
      </div>
    </div>
  </div>
</div>

<div id="container">
  <div class="center">
    <b>
      O proprietário/possuidor do veículo acima caracterizado, declara tê-lo
      recebido, nesta data, da oficina supramencionada, com os reparos das
      avarias relacionadas ao sinistro em referência plenamente consertadas.
      Sendo assim, o cliente outorga, pelo presente instrumento, plena, rasa,
      geral, irretratável e irrevogável quitação à AUTOGLASS. Desta forma, nada mais
      poderá ser reclamado em relação ao acidente, seja a título ou em que tempo
      for, em juízo ou fora dele.
    </b>
  </div>
</div>

<div id="container2">
  <div id="identificador3">
    <div id="info_cliente">
      <div id="titulo">Valores Gerais</div>
      <div id="conteudoCard">
        <div><b>Mão de obra R$</b>: 3.850,00</div>
        <div><b>Peças R$</b>: 2.780,18</div>
        <div><b>Franquia R$</b>: 2.241,78</div>
        <div><b>Valor total R$</b>: 4.388,40</div>
        <div>
          <b>Extenso</b>: QUATRO MIL E TREZENTOS E OITENTA E OITO REAIS E
          QUARENTA CENTAVOS
        </div>
        <div>
          <b>Observações</b>: 52097767 GENUÍNA PORTA TRASEIRA DIREITA – PEÇA
          FORNECIDA PELA OFICINA.
        </div>
      </div>
    </div>
  </div>

  <div id="identificador3">
    <div id="info_cliente">
      <div id="titulo">Informações para faturamento</div>
      <div id="conteudoCard">
        <div><b>Razão Social</b>: Dária Alves Frazão</div>
        <div><b>CNPJ:</b>: 12.406.558/0001-50</div>
        <div><b>Banco</b>: Banco do Brasil</div>
        <div><b>Agência</b>: 2462-7</div>
        <div><b>C/Corrente</b>: 28024-0</div>
        <div><b>Responsável</b>: Ronaldo Lopes Barbosa</div>
        <div><b>Telefone</b>: (61) 9 9555-7314 | (61) 9 9641-3049 </div>
      </div>
    </div>
  </div>
</div>

<div id="containerColumn">
  <div>
    ___________________________________________________________________________________________
  </div>
  <div>Lucas Lopes Frazão 111.111.111-11</div>
</div>
